<tr>
    <td>
        <button class="btn btn-default" type="button">- </button> <span>food_quantity </span><span style="margin:7px;"> {{title}} </span>
        <button class="btn btn-default" type="button">+ </button>
    </td>
</tr>
