<tr id="{{nbr}}" class="article">
  <td>
    <button class="btn btn-default btn_more btn_change_qty" type="button"> + </button>
    <span class="qty"> 0 </span>
    <span class="price"> {{price}} </span>
    <span class="money"> </span>
    <span style="margin:7px;"> {{title}} </span>
    <button class="btn btn-default btn_less btn_change_qty" type="button"> - </button>
  </td>
</tr>
