<div class="container hero next food_list">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            <h1 class="text-center"> {{title}} </h1></th>
        </tr>
      </thead>
      <tbody>
        {{#each articles}}
          {{> article this}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
